---
layout: default
---
<div class="container" id="product" style="padding-top:80px;">
  <div class="row">
    <div class="col-md-7">
      <img src="/img/products/{{page.image}}" alt="">
    </div>
    <div class="col-md-5">
      <h1>{{page.title}}</h1>

      <p><a href="/vendors/{{page.vendor_link}}">{{page.vendor}}</a></p>

      <p class="lead"><i>{{page.summary}}</i></p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="padding-bottom:120px;padding-top:60px">
      {{content}}

      Lorem ipsum dolor sit amet consectetur adipsicing elit. Lorem ipsum dolor sit amet consectetur adipsicing elit.
    </div>
  </div>
</div>
